<td>{{row.zweck}}</td>
<td>{{row.user}}</td>
<td>
    <div class="input-group" *ngIf="displaypasswordlength()">
        <input type="password" class="form-control" placeholder="Password" #passwordinput>
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" (click)="decryptpassword(passwordinput.value)">
                <span class="material-icons">play_arrow</span>
            </button>
        </div>
    </div>
    <span *ngIf="displaypasswordlength() == false">{{displaypassword}}</span>
</td>
<td>
  <div class="btn-group">
    <button type="button" class = "btn btn-default dropdown-toggle btn-lg" data-toggle = "dropdown">
        <span class="material-icons">settings</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a (click)="deletePasswordEntry();" href="#/app/password"><span class="material-icons">delete</span> Löschen</a></li>
        <li><a href="#/app/password"><span class="material-icons">edit</span> Bearbeiten</a></li>
    </ul>
  </div>
</td>