<div class="offset-md-1 col-xl-10">
    <div class="box box-transparent">
        <div class="box-header no-padding-h">Password Manager</div>
        <div class="box-body no-padding-h">

            <div class="box box-default table-box mdl-shadow--2dp">
                <table class="mdl-data-table table-striped">
                    <thead>
                        <tr>
                            <th>Zweck</th>
                            <th>Benutzer</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr password-item *ngFor="let row of tabledata" [row]="row"
                                            (deletpassword)="deletpassword($event)"
                                            [@todoAnimation]="'true'">
                        </tr>
                    <tr>
                        <td><input class="form-control" type="text" #zweck></td>
                        <td><input class="form-control" type="text" #user></td>
                        <td><input class="form-control" type="password" #password></td>
                        <td>
                            <button class="btn btn-success" 
                                    (click)="createPasswordEntry(zweck.value, user.value, password.value); 
                                    zweck.value=''; user.value=''; password.value='';">
                                <span class="material-icons">add</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
